*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto','Sans serif';
    font-size: 20px;
    font-weight: 400;
    color: #555;
    background-color: #fff;
    text-rendering: optimizeLegibility;
}

.container{
    max-width: 80%;
   
    margin: 0 auto;
    min-height: 300px;
   
}


/* HEADER */

header{
    background-color:#ffe3d4 ;
}

/* icons */

.icon-capture{
    width: 24px;
    height: 24px;
    margin: 0 5px;
}

/* NAV */

.nav{
    display: flex;
    align-items: center;
    float: left;

}

.logo{
    display: flex;
    align-items: center;
}

.logo a{
text-decoration: none;
color: #000;
font-size: 180%;
font-weight: 700;
text-transform: uppercase;
margin-top: 15px;
}


.nav-bar{
    display: flex;
    list-style: none;
    margin:15px 0 0 30px;
}

.nav-bar li a{
    text-decoration: none;
    color: #6f635c;
    padding: 0 20px;
    margin-top: 15px;
    text-transform: capitalize;
}

.profil{
    float: right;
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.img-profil{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 5px;
}

.name{
    display: flex;
}
.name p{
    margin-right: 5px;
}

.content {
    background-image: url(./ressources/img/waterfalls-4821153_1920.jpg);
    height: 450px;
    width: 100%;
    margin-top: -70px;
}

.text-box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 80px 0 0 0;
}


.text-box span{
    font-size: 110%;
    font-weight: 700;
    color: #000;
}

.text-box h1{
    font-size: 240%;
    font-family: 'Mukta','Sans serif';
    font-weight: 700;
    color: #000;
}

.img-header{
    width: 100%;
    height: 500px;
}

.text-block{
    position: absolute;
    top: 40%;
    left: 15%;
    padding-bottom: 30px;
}

h2{
    font-size: 180%;
    color: #fff;
    word-spacing: 4px;
    text-transform: capitalize;
    font-family: 'Lora', 'Sans serif';
    font-weight: 700;
}

.text-block p{
    color: #fff;
    font-size: 60%;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 30px;
}
.text-block span{
    text-transform: capitalize;
    font-size: 60%;
}

.btn{
    padding: 10px 30px;
    border-radius: 200px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    margin-top: 40px;
    border: none;
}


/* section */

.container-fast{
    padding: 30px 0
}

.container-ghost{
    padding: 40px 0 0 0;
    min-height: 0;
}


.btn-full{
    border: 2px solid #000;
    color:#000;
    font-size: 90%;
    margin:0 5px 5px;
}

.title{
    display: flex;
    align-items: center;
}

h3,h4{
    font-size: 110%;
    color:#000;
    text-transform: capitalize;
    font-family: 'Lora', 'Sans serif';
    font-weight: 600;  
}

.col-card{
    margin: 2% 1% 1% 0;
}

h3{
    margin-right: 15px;
}

h4{
    margin-top: 10px;
}

.numb{
    font-size: 90%;
}

.line-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.img-section{
    width: 100%;
    height: 250px;
}

.line-box{
    display: flex;
}

.ion-small{
    margin-right: 5px;
    font-size: 110%;
}

.line-icon{
    display: flex;
    margin-right: 15px;
    align-items: center;
}


.icon-messager{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}